* {
  box-sizing: border-box;
}
Html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  background-color: #f7f6e7;
  margin: 0;
  padding: 0;
}

header {
  background-color: #342b38;
  width: 100%;
}
section {
  text-align: center;
  padding: 15px;
}
section img {
  width: 60%;
}
.left {
  text-align: center;
  margin-top: 60px;
}
.left button {
  margin-bottom: 20px;
}
.contents {
  width: 70%;
  margin: 10px auto;
}
.namu {
  width: 30%;
}
.btn {
  margin-top: 30px;
}
.exterior {
  width: 100%;
  max-height: 700px;
  opacity: 0.9;
  text-align: center;
  margin: 0 auto;
}
.navbar {
  background-color: transparent;
  height: 70px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
}
.navbar-brand {
  background-color: peru;
  padding: 7px;
  margin-left: 5px;
  border-radius: 100%;
  font-size: 1rem;
}

.carousel {
  width: 400px;
  margin: 30px auto;
}
.icon {
  color: sienna;
}
label {
  margin-top: 20px;
  margin-right: 20px;
}

h1 {
  font-family: 'Rock Salt', cursive, 'Permanent Marker', cursive,
    'Julius Sans One', sans-serif, 'Sacramento';
  color: darkslategray;
  font-size: 3rem;
  line-height: 1;
  font-style: italic;
  word-spacing: 0.35rem;
  margin: 10% auto;
}
h2 {
  font-family: 'Permanent Marker', cursive, 'Julius Sans One', sans-serif,
    'Sacramento';
  color: darkslategray;

  margin-top: 10px;
}

form {
  margin-top: 100px;
}

p {
  text-align: left;
  margin: 20px;
}
.rounded {
  border-radius: 10%;
}
.card-deck {
  width: 90%;
  margin: 0 auto;
}
.card {
  width: 30%;
}

.card-img-top {
  width: auto;
  height: auto;
}
.card p {
  font-size: 13px;
}

footer {
  background-color: #342b38;
  text-align: center;
}
.social-icon {
  color: #f7f6e7;
  margin: 20px 10px;
}
footer p {
  color: #f7f6e7;
  text-align: center;
  margin: 0;
  padding: 8px;
  font-size: 11px;
}
